<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/SCOPUS.png" alt="" width="30%">
    <h1> Ejemplos de express </h1>
    <ul>
      <li>
        <a href="/formulario">Formulario</a>
      </li>
      <li>
        <a href="/archivos">Archivos</a>
      </li>
      <li>
        <a href="/archivos/leer">Leer Archivos</a>
      </li>
    </ul>
  </body>
</html>
