<html>
    <head>
        <title>Leer archivo</title>
    </head>
    <body>
        <div>
            <label for="">Nombre</label>
            <span><%= Nombre %></span>
        </div>
        <div>
            <label for="">Edad</label>
            <span><%= Edad %></span>
        </div>
    </body>
</html>